    {{#each productos}}
    <h3>Id: {{this.id}}</h3>
    <p>Code: {{this.code}}</p>
    <h4>Name: {{this.title}}</h4>
    <p>Description: {{this.description}}</p>
    <p>Price: {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <img src="{{this.thumbnail}}" alt="" srcset="">
    {{/each}}